:root {
    --COLOR-textStrong: rgba(255,255,255,1);
    --COLOR-textBasic: rgba(240,240,240,1);
    --COLOR-loss: #EA0D3F;
    --COLOR-gain: #639F4D;

    --COLOR-green:#a2ed56;
    --COLOR-yellow: #fddc32;
    --COLOR-blue: #83e4e2;
    /* background-color: rgba(66,94,113,1); */
    --COLOR-searchLabel: rgba(23,114,140,1);
}

.search-container {
    display: flex;
    flex-direction: column;
}

.search-results {
    list-style: none;
    margin: 1.75rem 0;
}

.coin-result {
    display: flex;
    justify-content: space-around;
    background: var(--COLOR-searchLabel);
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    margin-top: .5rem;
    height: 2rem;
    padding: .5rem .5rem .5rem 1.5rem;
    position: relative;
    color: var(--COLOR-textStrong);
    
} p {
    font-size: 1.5rem;
    margin: 0;
} 


