@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-image: radial-gradient(50% 176%, #253854 80%, #061922 100%);
	min-height: 30rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
}

.App {
  text-align: center;
  display: grid;

  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 5px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #2e2e2e;
  padding: 20px;
  color: white;
  grid-column-start: 1;
  grid-column-end: 6;
}

.app-title {
  font-size: 1.5em;
}

@keyframes particleAnimation
{
    from {
        left: -100px;
    }
    to {
        left: calc( 100% + 100px );
    }
}

.p {
  position:fixed;
  left:0px;
  top:50px;
  width:1px;
  height:1px;
  background-color:white;
  position:fixed;
  animation-name: particleAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.p::before{
  position:absolute;
  display:block;
  content:"";
  width:100px;
  right:1px;
  top:0px;
  height:1px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%);
}
.p-1{
  animation-duration:10s;
}
.p-2{
  animation-duration:5s;
  top:60%;
}
.p-3{
  animation-duration:20s;
  top:90%;
}
.p-4{
  animation-duration:15s;
}
.p-5{
  animation-duration:42s;
  top:33%;
}
.p-6{
  animation-duration:20s;
  top:75%;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.dashboard {
  grid-column: 2/6;
  margin-top: 30px;
  margin-left: 30px;
}

@media only screen and (min-width: 1024px) {
  .App {
    width: 980px;
  }
}
