@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-image: radial-gradient(50% 176%, #253854 80%, #061922 100%);
	min-height: 30rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
}

.App {
  text-align: center;
  display: grid;

  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 5px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #2e2e2e;
  padding: 20px;
  color: white;
  grid-column-start: 1;
  grid-column-end: 6;
}

.app-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.dashboard {
  margin-top: 30px;
  margin-left: 30px;
}
