/*  =========================  REGISTER FORM ========================*/

.register-container {
  grid-column: 2/6;
}

.register-form {
  display: grid;
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  padding: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
  grid-gap: 0.3em 0.6em;
}

.register-form button {
  color: #0099CC;
  background: transparent;
  border: 2px solid #008CBA;
  border-radius: 6px;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.register-form button:hover {
  background-color: darkcyan;
  color: white;
}

/*  =========================  LOGIN FORM ========================*/

.login-container {
  grid-column: 2/6;
}

.login-form {
  display: grid;
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  padding: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
  grid-gap: 0.3em 0.6em;
}

.login-form button {
  color: #0099CC;
  background: transparent;
  border: 2px solid #008CBA;
  border-radius: 6px;
  border: none;
  color: black;
  padding: 16px 32px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.login-form button:hover {
  background-color: darkcyan;
  color: white;
}

/*  =========================  ALTERNATIVE FORM ========================*/

.alternative-signup {
  display: grid;
  grid-gap: 5px;
  display: grid;
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  padding: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
  grid-gap: 0.3em 0.6em;
}

.alternative-signup button {
  color: #0099CC;
  background: transparent;
  border: 2px solid #008CBA;
  border-radius: 6px;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.alternative-signup button:hover {
  background-color: darkcyan;
  color: white;
}

@media only screen and (min-width: 1024px) {
  .login-form {
    width: 450px;
  }

  .register-form {
    width: 450px;
  }

  .alternative-signup {
    width: 450px;
  }
}
