.landing-page {
  display: grid;
  grid-template-columns: .5fr 1fr 1fr .5fr;
  grid-template-areas: ". left right .";
}

.main-hero {
  display: grid;
  /* grid-template-columns: 50% 50%; */
  margin-left: 10px;
  margin-right: 10px;

  grid-area: left;
  align-self: center;
}

.login-aside button {
  border-radius: 6px;
}

.login-aside a {
  color: #0099CC;
  background: transparent;
  border: 2px solid #008CBA;
  border-radius: 6px;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
.login-aside a:hover {
  background-color: darkcyan;
  color: white;

  -webkit-animation: Pulse 1.25s infinite cubic-bezier(0.50, 0, 0, 1);
  -moz-animation: Pulse 1.25s infinite cubic-bezier(0.50, 0, 0, 1);
  -ms-animation: Pulse 1.25s infinite cubic-bezier(0.50, 0, 0, 1);
  animation: Pulse 1.25s infinite cubic-bezier(0.50, 0, 0, 1);

}

@-webkit-keyframes Pulse {
  to {box-shadow: 0 0 0 20px rgba(9, 187, 233, 0);}
}
@-moz-keyframes Pulse {to {box-shadow: 0 0 0 20px rgba(9, 187, 233, 0);}}
@-ms-keyframes Pulse {to {box-shadow: 0 0 0 20px rgba(9, 187, 233, 0);}}
@keyframes Pulse {to {box-shadow: 0 0 0 20px rgba(9, 187, 233, 0);}}

.intro-text {
  color: white
}

.illustration {
  grid-area: right;
  align-self: center;
  width: 80%;
  padding: 20%;
}

#monitor{
  animation: monitorIn 1s ease-in-out forwards; /* assign animation to monitor with 'monitorIn' as keyframe name */
  opacity: 0;
}

.crypto-icons{
    position: absolute;
    width: 12%;
}

#dash {
    margin-top: -4%;
    margin-left: 9%;
    animation: chatblips .5s ease-in-out 2.7s forwards; /* assign animation to dash with 'chatblips' as keyframe name */
    opacity: 0;
    z-index: 2;
}

#eth {
    margin-top: 9.5%;
    margin-left: 18%;
    animation: chatblips 0.5s ease-in-out 1.9s forwards; /* assign animation to eth with 'chatblips' as keyframe name */
    opacity: 0;
    z-index: 2;
}

@keyframes monitorIn {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes chatblips {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    70% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
