.coin-search {
  grid-column-start:3;
  grid-column-end:5;
}

.prompt {
  width: 300px;
}

.search-results {
  border-radius: 20px;
  border: 2.5px solid hsla(281, 100%, 50%, 1);
  padding-bottom: 5px;
  background-color: darkcyan;
}
