.coin-watchlist {
  display: grid;
  grid-gap: 1rem;
  grid-column-start: 2;
  grid-column-end: 4;

}

.list-item-coin {
  border: 2.5px solid darkcyan;
  background: darkcyan;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
}

.alert-form {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 3px;

}

h2, h4 {
  color: white;
}

.instant-info {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;

} h3 {
  margin: 0;
  margin-right: 20px;
  margin-left: 20px
}
