:root {
    --COLOR-textStrong: rgba(255,255,255,1);
    --COLOR-textBasic: rgba(240,240,240,1);
    --COLOR-loss: #EA0D3F;
    --COLOR-gain: #639F4D;
}

h1 {
    color: var(--COLOR-textStrong);
}

.top-cryptos-container {
    width: 100%;
    justify-content: center;
}